In [3]:
import pandas as pd

In [4]:
df=pd.read_csv(r"C:\Users\hp\Downloads\MER_T07_02A-2020-02-03.csv")
df

,MSN,YYYYMM,Value,Column_Order,Description,Unit
0,CLETPUS,194913,135451.32,1,"Electricity Net Generation From Coal, All Sectors",Million Kilowatthours
1,CLETPUS,195013,154519.994,1,"Electricity Net Generation From Coal, All Sectors",Million Kilowatthours
2,CLETPUS,195113,185203.657,1,"Electricity Net Generation From Coal, All Sectors",Million Kilowatthours
3,CLETPUS,195213,195436.666,1,"Electricity Net Generation From Coal, All Sectors",Million Kilowatthours
4,CLETPUS,195313,218846.325,1,"Electricity Net Generation From Coal, All Sectors",Million Kilowatthours
...,...,...,...,...,...,...
8211,ELETPUS,201906,351342.905,13,Electricity Net Generation Total (including fr...,Million Kilowatthours
8212,ELETPUS,201907,411583.828,13,Electricity Net Generation Total (including fr...,Million Kilowatthours
8213,ELETPUS,201908,401363.186,13,Electricity Net Generation Total (including fr...,Million Kilowatthours
8214,ELETPUS,201909,359300.603,13,Electricity Net Generation Total (including fr...,Million Kilowatthours
8215,ELETPUS,201910,321921.812,13,Electricity Net Generation Total (including fr...,Million Kilowatthours

In [5]:
df.describe()

              YYYYMM  Column_Order
count    8216.000000   8216.000000
mean   199461.476266      7.000000
std      1492.616509      3.741885
min    194913.000000      1.000000
25%    198304.750000      4.000000
50%    199506.500000      7.000000
75%    200708.250000     10.000000
max    201910.000000     13.000000

In [6]:
df.tail()

,MSN,YYYYMM,Value,Column_Order,Description,Unit
8211,ELETPUS,201906,351342.905,13,Electricity Net Generation Total (including fr...,Million Kilowatthours
8212,ELETPUS,201907,411583.828,13,Electricity Net Generation Total (including fr...,Million Kilowatthours
8213,ELETPUS,201908,401363.186,13,Electricity Net Generation Total (including fr...,Million Kilowatthours
8214,ELETPUS,201909,359300.603,13,Electricity Net Generation Total (including fr...,Million Kilowatthours
8215,ELETPUS,201910,321921.812,13,Electricity Net Generation Total (including fr...,Million Kilowatthours

In [16]:
df2=pd.read_excel(r"C:\Users\hp\Desktop\SampleTemperature Sheet.xlsx")
df2.describe()

,Temprature Sheet,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
count,5,17,18,17,18,17,18,17,18,17,18,17,18,17,18,17
unique,5,5,10,10,10,8,11,10,9,9,11,12,11,14,11,15
top,Month,Week 1,10,18,6,21,6,19,8,20,14,18,8,30,15,30
freq,1,4,4,4,4,5,4,4,5,4,3,5,4,2,3,2

In [17]:
df2.tail()

,Temprature Sheet,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
14,NaN,Week 4,7,22,2,21,6,22,6,21,5,19,3,3,19,3
15,February,Week 1,10,20,7,22,-10,19,8,21,9,18,7,71,20,10
16,NaN,Week 2,10,18,10,22,11,19,9,20,9,18,11,9,20,10
17,NaN,Week 3,8,18,8,18,10,19,10,20,11,18,8,12,18,9
18,NaN,Week 4,9,20,7,21,8,18,8,19,9,20,12,12,18,7

In [18]:
df2.head()

,Temprature Sheet,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Month,Week,Monday,NaN,Tuesday,NaN,Wednesday,NaN,Thursday,NaN,Friday,NaN,Saturday,NaN,Sunday,NaN
2,November,NaN,Min Temp,Max Temp,Min Temp,Max Temp,Min Temp,Max Temp,Min Temp,Max Temp,Min Temp,Max Temp,Min Temp,Max Temp,Min Temp,Max Temp
3,NaN,Week 1,8,27,13,23,7,22,8,23,7,25,11,30,9,29
4,NaN,Week 2,14,26,13,21,6,20,-13,32,14,23,8,20,15,27

In [ ]:
import pandas as pd

In [19]:
df3=pd.read_csv(r"C:\Users\hp\Downloads\police.csv")

In [20]:
df3

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [21]:
df3.head(50)

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
5,2005-03-23,09:45,NaN,M,1982.0,23.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
6,2005-04-01,17:30,NaN,M,1969.0,36.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
7,2005-06-06,13:20,NaN,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
8,2005-07-13,10:15,NaN,M,1970.0,35.0,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
9,2005-07-13,15:45,NaN,M,1970.0,35.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
10,2005-07-13,16:20,NaN,M,1979.0,26.0,Asian,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
11,2005-07-13,19:00,NaN,F,1966.0,39.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
12,2005-07-14,19:55,NaN,M,1979.0,26.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
13,2005-07-18,19:30,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
14,2005-07-18,19:45,NaN,M,1969.0,36.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
15,2005-07-19,00:30,NaN,M,1982.0,23.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
16,2005-07-19,00:30,NaN,M,1982.0,23.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
17,2005-07-19,23:30,NaN,M,1979.0,26.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
18,2005-07-20,00:05,NaN,M,1955.0,50.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
19,2005-07-24,20:10,NaN,F,1958.0,47.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
20,2005-07-28,12:37,NaN,F,1979.0,26.0,Asian,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
21,2005-08-07,16:50,NaN,M,1953.0,52.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
22,2005-08-08,02:09,NaN,M,1955.0,50.0,Black,Other Traffic Violation,Moving violation,False,NaN,Arrest Driver,True,30+ Min,False
23,2005-08-18,10:57,NaN,F,1967.0,38.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
24,2005-08-28,01:00,NaN,M,1979.0,26.0,White,Other Traffic Violation,Moving violation,True,"Incident to Arrest,Protective Frisk",Arrest Driver,True,16-30 Min,False
25,2005-09-03,16:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
26,2005-09-17,10:54,NaN,M,1964.0,41.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
27,2005-09-21,13:30,NaN,F,1977.0,28.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
28,2005-09-22,22:34,NaN,M,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
29,2005-09-26,01:05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
30,2005-09-26,12:09,NaN,M,1959.0,46.0,Black,Other Traffic Violation,Moving violation,False,NaN,Citation,False,30+ Min,False
31,2005-09-28,06:20,NaN,M,1982.0,23.0,White,Speeding,Speeding,False,NaN,Arrest Driver,True,16-30 Min,False
32,2005-09-28,07:15,NaN,M,1973.0,32.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
33,2005-09-28,07:45,NaN,M,1953.0,52.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
34,2005-09-29,23:45,NaN,M,1947.0,58.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
35,2005-09-30,00:15,NaN,M,1978.0,27.0,White,Equipment/Inspection Violation,Equipment,False,NaN,N/D,False,0-15 Min,False
36,2005-09-30,09:30,NaN,F,1986.0,19.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
37,2005-09-30,14:00,NaN,M,1962.0,43.0,Asian,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
38,2005-09-30,19:25,NaN,M,1981.0,24.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
39,2005-09-30,20:17,NaN,M,1988.0,17.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
40,2005-10-01,00:00,NaN,M,1988.0,17.0,White,Equipment/Inspection Violation,Equipment,True,Probable Cause,Arrest Driver,True,16-30 Min,True
41,2005-10-01,00:00,NaN,M,1988.0,17.0,White,Equipment/Inspection Violation,Equipment,True,Probable Cause,Citation,False,30+ Min,True
42,2005-10-01,00:50,NaN,M,1977.0,28.0,Hispanic,Other Traffic Violation,Moving violation,False,NaN,Arrest Driver,True,30+ Min,False
43,2005-10-01,01:00,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
44,2005-10-01,01:45,NaN,M,1983.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
45,2005-10-01,02:45,NaN,M,1961.0,44.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
46,2005-10-01,08:40,NaN,M,1959.0,46.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
47,2005-10-01,09:10,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
48,2005-10-01,09:20,NaN,M,1957.0,48.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
49,2005-10-01,10:45,NaN,M,1971.0,34.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False

In [22]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  object
 1   stop_time           91741 non-null  object
 2   county_name         0 non-null      float64
 3   driver_gender       86406 non-null  object
 4   driver_age_raw      86414 non-null  float64
 5   driver_age          86120 non-null  float64
 6   driver_race         86408 non-null  object
 7   violation_raw       86408 non-null  object
 8   violation           86408 non-null  object
 9   search_conducted    91741 non-null  bool
 10  search_type         3196 non-null   object
 11  stop_outcome        86408 non-null  object
 12  is_arrested         86408 non-null  object
 13  stop_duration       86408 non-null  object
 14  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 9.3+ MB

In [24]:
df3.shape

(91741, 15)

In [25]:
tem_df3=df3.append(df3)

C:\Users\hp\AppData\Local\Temp\ipykernel_7832\3638936199.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tem_df3=df3.append(df3)

In [26]:
tem_df3.shape

(183482, 15)

In [27]:
tem_df3.loc[1]

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [28]:
tem_df3.drop_duplicates()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [ ]:
te

tem_df3.drop_duplicates(self,subst=clomn,keep=first/last/false,inplace=true)

In [30]:
tem_df3.drop_duplicates(inplace=True)

In [32]:
dup_rem_df3=tem_df3.drop_duplicates(keep='first')

In [33]:
dup_rem_df3.loc[1]

stop_date             2005-01-18
stop_time                  08:15
county_name                  NaN
driver_gender                  M
driver_age_raw            1965.0
driver_age                  40.0
driver_race                White
violation_raw           Speeding
violation               Speeding
search_conducted           False
search_type                  NaN
stop_outcome            Citation
is_arrested                False
stop_duration           0-15 Min
drugs_related_stop         False
Name: 1, dtype: object

In [34]:
dup_rem_df3=tem_df3.drop_duplicates(keep=False)

In [35]:
dup_rem_df3

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [31]:
tem_df3

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [50]:
tem_df3.mean()

C:\Users\hp\AppData\Local\Temp\ipykernel_7832\1801460394.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  tem_df3.mean()

county_name                   NaN
driver_age_raw        1970.497406
driver_age              34.012755
search_conducted         0.034921
is_arrested              0.033608
drugs_related_stop       0.008919
dtype: float64

In [51]:
tem_df3.std()

C:\Users\hp\AppData\Local\Temp\ipykernel_7832\975399738.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  tem_df3.std()

county_name                  NaN
driver_age_raw        110.882213
driver_age             12.737448
search_conducted        0.183582
is_arrested             0.180220
drugs_related_stop      0.094021
dtype: float64

In [ ]:
import pandas as pd

In [46]:
d={'a':[1,1,3,4,4,5],'b':[1,1,3,4,5,6]}

In [39]:
df=pd.DataFrame(d)

In [48]:
df

   a  b
0  1  2
1  2  3
2  3  4
3  4  1
4  5  4

In [49]:
df.drop_duplicates(subset=['a'])

   a  b
0  1  2
1  2  3
2  3  4
3  4  1
4  5  4